
html {
  background-color: #F3F5FB;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  align-items: center;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  color: #999999;
}


#formContent {
  margin: auto;
  width: 50%;
  max-width: 600px;
  border: 3px solid #E5E5E5 ;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  position: center;
  padding: 0px;
  text-align: center;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #4C8EF1;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Roboto;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  margin-top: 5%;

}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #2CC961;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #35FF7A ;
}

input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #35FF7A ;
}

input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #35FF7A;
}
input[type=text]:placeholder {
  color: #cccccc;
}

*:focus {
    outline: none;
}


#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
}
